version: "3.8"

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    ports:
      - "9092:9092"

  rabbitmq:
    image: rabbitmq:3.9-management
    ports:
      - "5672:5672"
      - "15672:15672"

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: alerts
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  python-ml-service:
    build: ./python-ml-service
    environment:
      - MODEL_PATH=/app/ml-models/logistic_model.pkl
    ports:
      - "5000:5000"
    depends_on:
      - db

  device-ingestion-service:
    build: ./device-ingestion-service
    environment:
      - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
    ports:
      - "8081:8081"
    depends_on:
      - kafka

  analytics-service:
    build: ./analytics-service
    environment:
      - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - ML_SERVICE_URL=http://python-ml-service:5000
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
      - POSTGRES_DB=alerts
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "8082:8082"
    depends_on:
      - kafka
      - python-ml-service
      - db
      - rabbitmq

  notification-service:
    build: ./notification-service
    environment:
      - RABBITMQ_HOST=rabbitmq
    ports:
      - "8083:8083"
    depends_on:
      - rabbitmq

  api-gateway:
    build: ./api-gateway
    environment:
      - GATEWAY_API_KEY=secret-key
    ports:
      - "8080:8080"
    depends_on:
      - device-ingestion-service

volumes:
  pgdata: