server:
  port: 8081

spring:
  kafka:
    bootstrap-servers: kafka:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
  datasource:
    url: jdbc:mysql://mysql:3306/healthcare_db
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
