server:
  port: 8080

spring:
  cloud:
    gateway:
      routes:
        - id: device_ingestion
          uri: http://device-ingestion-service:8081
          predicates:
            - Path=/vitals/**
