spring:
  cloud:
    gateway:
      routes:
        - id: ingestion
          uri: http://device-ingestion-service:8081
          predicates:
            - Path=/ingest/**
          filters:
            - StripPrefix=1

server:
  port: 8080